// COLORS

$colorLightGreen: rgb(126, 213, 111);
$colorMediumGreen: rgb(85, 197, 122);
$colorDarkGreen: rgb(40, 180, 133);

$colorWhite: rgb(255, 255, 255);
$colorGrey: rgb(119, 119, 119);
$color-black: rgb(0,0,0);

$color-secondary-light: rgb(255, 185, 0);
$color-secondary-dark: rgb(255, 119, 48);

$color-tertiary-light: rgb(41, 152, 255);
$color-tertiary-dark: rgb(86, 67, 250);

$color-grey-light-1: rgb(247, 247, 247);
$color-grey-light-2: rgb(238, 238, 238);
$color-grey-dark: #333;


// FONT
$default-font-size: 1.6rem;
