:root {
    --color-primary: rgb(235, 47, 100);    
    --color-primary-light: rgb(255, 51, 102);
    --color-primary-dark: rgb(186, 38, 93);

    --color-grey-light-1: rgb(250, 249, 249);
    --color-grey-light-2: rgb(204, 204, 204);

    --color-grey-dark-1: rgb(51, 51, 51);
    --color-grey-dark-2: rgb(119, 119, 119);
    --color-grey-dark-3: rgb(153, 153, 153);

    --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);

    --color-white: rgb(255, 255, 255);
}